<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SwanCRM.Properties.Settings.SWAN_CRM_ConnectionString"
            connectionString="Data Source=DESKTOP-ATRSDK7\SQLSRV;Initial Catalog=SWAN_CRM;User ID=sa;Password=1234Asd!;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>